/* Add CSS Styling */

.odd{
    background-color: rgb(199, 136, 136);
    font-family: Verdana, DejaVu sans, sans-serif;
}

.font{
    font-size: 24px;
}

#four{
    background-color: hsl(120, 35%, 49%)
}

#second{
    color: rgb(51, 51, 201);
    font-size: 36px;
}