body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px 6px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  font-size: 16px;
  border: 1px solid #eee;
  padding: 10px 24px;
  margin: 0px auto;;
  display: block;
}